
.ms_dysplay-block{
    min-height: 20px;
    display: block;
}

.ms_dysplay-none{
    display: none;
}
.ms_text-transparent{
    color: transparent;
}

.ms_fs1{
    font-size: 2.5rem;
}

.ms_fs2{
    font-size: 2rem;
}

.ms_fs3{
    font-size: 1.75rem;
}

.ms_fs4{
    font-size: 1.5rem;
}

.ms_fs5{
    font-size: 1.25rem;
}

.ms_fs6{
    font-size: 1rem;
}

.ms_cursor_pointer{
    cursor:pointer;
}

.ms_w-1rem{
    width: 1rem;
}

.ms_w-3rem{
    width: 3rem;
}

.ms_w-5rem{
    width: 5rem;
}

.ms_h-1rem{
    height: 1rem;
}

.ms_h-3rem{
    height: 3rem;
}

.ms_h-5rem{
    height: 5rem;
}