.ms_text-transparent{
    color: transparent;
}

.ms_fs1{
    font-size: 2.5rem;
}

.ms_fs2{
    font-size: 2rem;
}

.ms_fs3{
    font-size: 1.75rem;
}

.ms_fs4{
    font-size: 1.5rem;
}

.ms_fs5{
    font-size: 1.25rem;
}

.ms_fs6{
    font-size: 1rem;
}

.ms_cursor_pointer{
    cursor:pointer;
}