
@import  "../_variables";

.ms_dashboard{
    background-color: $darkOrange !important;
    color: #fff !important;
    font-weight: bold !important;
}

.ms_btn1{
    
    background-color: $darkOrange !important;
    border: 2px solid brown !important;
    color: white !important;
    font-weight: bold !important;
    &:hover{
        border: 2px solid $darkOrange !important;
        background-color: brown !important;
    }
}